<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li>
                <a href="/Home/Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="fa-solid fa-home"></i>
                    <span class="ms-3">Inicio</span>
                </a>
            </li>

            <li>
                <a href="/Servicios/Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="fa-solid fa-handshake"></i>
                    <span class="ms-3">Servicios</span>
                </a>
            </li>

            <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-Clientes" data-collapse-toggle="dropdown-Clientes" aria-expanded="false">
                    <i class="fa-solid fa-users"></i>
                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Clientes</span>
                    <i class="fa-sharp fa-solid fa-chevron-down"></i>
                </button>
                <ul id="dropdown-Clientes" class="hidden py-2 space-y-2">
                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"><i class="far fa-circle mr-3"></i>Admin. Clientes</a>
                    </li>

                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"><i class="far fa-circle mr-3"></i>Clientes en Morosidad</a>
                    </li> 
                </ul>
            </li>

            <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-Pagos" data-collapse-toggle="dropdown-Pagos" aria-expanded="false">
                    <i class="fa-solid fa-coins"></i>
                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Pagos</span>
                    <i class="fa-sharp fa-solid fa-chevron-down"></i>
                </button>
                <ul id="dropdown-Pagos" class="hidden py-2 space-y-2">

                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"><i class="far fa-circle mr-3"></i>Generar Pagos</a>
                    </li>

                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"><i class="far fa-circle mr-3"></i>Listado de Pagos</a>
                    </li>

                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"><i class="far fa-circle mr-3"></i>Saldos</a>
                    </li>

                </ul>
            </li>

            <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-Facturas" data-collapse-toggle="dropdown-Facturas" aria-expanded="false">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Facturas</span>
                    <i class="fa-sharp fa-solid fa-chevron-down"></i>
                </button>
                <ul id="dropdown-Facturas" class="hidden py-2 space-y-2">

                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"><i class="far fa-circle mr-3"></i>Facturar</a>
                    </li>

                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"><i class="far fa-circle mr-3"></i>Lista de facturas</a>
                    </li>

                </ul>
            </li>

            <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-Movimientos" data-collapse-toggle="dropdown-Movimientos" aria-expanded="false">
                    <i class="fa-solid fa-exchange-alt"></i>
                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Movimientos</span>
                    <i class="fa-sharp fa-solid fa-chevron-down"></i>
                </button>
                <ul id="dropdown-Movimientos" class="hidden py-2 space-y-2">

                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"><i class="far fa-circle mr-3"></i>Entradas de dinero</a>
                    </li>

                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"><i class="far fa-circle mr-3"></i>Salidas de Dinero</a>
                    </li>

                </ul>
            </li>

            <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-Administracion" data-collapse-toggle="dropdown-Administracion" aria-expanded="false">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Administración</span>
                    <i class="fa-sharp fa-solid fa-chevron-down"></i>
                </button>
                <ul id="dropdown-Administracion" class="hidden py-2 space-y-2">

                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"><i class="far fa-circle mr-3"></i>Info. Empresa</a>
                    </li>

                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"><i class="far fa-circle mr-3"></i>Usuarios</a>
                    </li>

                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"><i class="far fa-circle mr-3"></i> Roles</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</aside>