@using Newtonsoft.Json;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
    string[] items = new string[] { "Home", "Dashboard" };
    var horaActual = DateTime.Now;
    var icon = "";
    if (horaActual.Hour >= 5 && horaActual.Hour < 12)
    {
        icon = "fa-solid fa fa-sun";
    }
    else if (horaActual.Hour >= 12 && horaActual.Hour < 18)
    {
        icon = "fa-solid fa fa-cloud";
    }
    else
    {
        icon = "fa-solid fa fa-moon";
    }

}

@{
    var u = JsonConvert.DeserializeObject(ViewBag.UsuarioEnSesion);
}

<div class=" pt-16 lg:pl-64 pl-0 bg-white dark:bg-gray-900">
    <div class="p-4 pt-40 sm:ml-64">
        <div class="p-1">
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                    @HtmlElement.TailwindBreadCrumb(Html, items)
                </ol>
            </nav>
            <br />
            <div class="p-1">
                <h4 class="text-2xl font-bold dark:text-white">Dashboard</h4>
                <div class="mt-4 grid grid-cols-12 mb-3">
                    @HtmlElement.TailwindWelcomeAlert(Html, "¡Bienvenido(a)!", $"{u.username}", "blue", icon, "")
                </div>
                <div class="mt-4 grid grid-cols-1 md:grid-cols-3 mb-3">

                    <div class="col-span-1 m-2 bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
                        <div class="flex justify-between mb-3">
                            <div class="flex justify-center items-center">
                                <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white pe-1">Movimientos de Dinero</h5>
                            </div>
                        </div>

                        <div>
                            <div class="flex" id="devices">
                                <div class="flex items-center me-4">
                                    <input id="todos" name="movimientos" type="radio" value="todos" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" checked>
                                    <label for="todos" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Todos</label>
                                </div>
                                <div class="flex items-center me-4">
                                    <input id="entradas" name="movimientos" type="radio" value="entradas" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="entradas" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Entradas</label>
                                </div>
                                <div class="flex items-center me-4">
                                    <input id="salidas" name="movimientos" type="radio" value="salidas" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="salidas" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Salidas</label>
                                </div>
                            </div>
                        </div>

                        <!-- Donut Chart -->
                        <div class="py-6" id="donut-chart"></div>

                    </div>

                    <div class="col-span-1 m-2 bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
                            <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
                                <div class="flex items-center">
                                    <div class="w-12 h-12 rounded-lg bg-gray-100 dark:bg-gray-700 flex items-center justify-center me-3">
                                        <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 19">
                                            <path d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z" />
                                            <path d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h5 class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-1">Pagos Colones</h5>
                                    </div>
                                </div>

                            </div>

                           
                            <div id="column-chart"></div>
                    </div>

                    <div class="col-span-1 m-2 bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
                        <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
                            <div class="flex items-center">
                                <div class="w-12 h-12 rounded-lg bg-gray-100 dark:bg-gray-700 flex items-center justify-center me-3">
                                    <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 19">
                                        <path d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z" />
                                        <path d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z" />
                                    </svg>
                                </div>
                                <div>
                                    <h5 class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-1">Pagos Dólares</h5>
                                </div>
                            </div>

                        </div>


                        <div id="column-chart-dolar"></div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>



<script src="~/js/Graficos.js"></script>